* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  padding: 20px;
  height: 100vh;
}

#page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


header {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
  margin-right: 10px;
}

header input[type="text"],
header select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 5px;
}

header button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

header button:hover {
  background-color: #45a049;
}

#employeeList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.employee-card {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 5px;
}

.employee-card p {
  margin: 4px 0;
  font-size: 14px;
}

.employee-card button {
  margin-top: 10px;
  margin-right: 8px;
  padding: 6px 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.employee-card button:nth-child(1) {
  background-color: #007bff;
  color: white;
}

.employee-card button:nth-child(2) {
  background-color: #dc3545;
  color: white;
}

.employee-card button:hover {
  opacity: 0.85;
}


form {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

form h2 {
  margin-bottom: 15px;
}

form input, form select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn{
    display: flex;
    justify-content: end;
}

form button {
  padding: 10px 20px;
  font-size: 14px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"] {
  background-color: #007bff;
  color: white;
}

form button[type="button"] {
  background-color: #6c757d;
  color: white;
}

form button:hover {
  opacity: 0.9;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  font-size: 14px;
}
